---
sitemap: false
---

/*
* Common Variables
*
* Feel free to change!
*
*/

/* FONTS */

$main-font: CustomFont, "DejaVu Serif", Verdana, Arial, serif;
$heading-font: CustomFont, "DejaVu Sans", Verdana, Arial, sans-serif;
$regular-font-size: 20px;

/*
* COLOR.
*
* Make sure to leave color-scheme in config file empty for granular control
*
*/

$text-color: #454545;
$heading-color: #404040;
$link-color: #841212;


@import "customized";
@import "ed";
@import "footer";
@import "syntax";
